{% extends "base.html" %}

{% if durations %}
{% block js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
    google.load("visualization", "1");
    google.setOnLoadCallback(function() {
        var wrap = new google.visualization.ChartWrapper({
            'chartType': 'PieChart',
            'dataTable': {{ durations|safe }},
            'containerId': 'chart_div',
            'options': {
                pieHole: false,
            }
        });
        wrap.draw();
    });
</script>
{% endblock %}
{% endif %}

{% block content %}
<br /><br />
<div id="chart_div" style="width:800px; height:400px">Loading...</div>
<form action="{% url 'feedcal:parse' %}" method="get">
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block github %}
<a href="https://github.com/kfdm/django-feedcal/issues">
    <img src="https://img.shields.io/github/issues/kfdm/django-feedcal.svg" alt='django-feedcal issues' />
</a>
{% endblock %}
