{% extends "base.html" %}
{% block subnav %}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'feedcal:pie' uuid=calset.id %}?date=today&tags=true">{{ calset.label }} - Today</a></li>
        <li><a href="{% url 'feedcal:pie' uuid=calset.id %}?date=yesterday&tags=true">Yesterday</a></li>
        <li><a href="{% url 'feedcal:pie' uuid=calset.id %}?days=7&tags=true">Week</a></li>
        <li><a href="{% url 'feedcal:bar' uuid=calset.id %}">Bar</a></li>
    </ul>
</li>
</ul>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
    google.load("visualization", "1");
    google.setOnLoadCallback(function() {
        var wrap = new google.visualization.ChartWrapper({
            'chartType': 'PieChart',
            'dataTable': {{ durations|safe }},
            'containerId': 'chart_div',
            'options': {
                pieHole: false,
            }
        });
        wrap.draw();
    });
</script>
{% endblock %}
{% block content %}
    <div id="chart_div" style="width:800px; height:400px">Loading...</div>
{% endblock %}
